body {
	color:#000;
}

#teams #team_one{
	position: absolute;
	bottom:0px;
	left:10px;
}

#team_one > * {
	color:#0072ff;
}

#teams #team_two {
	position: absolute;
	bottom:0px;
	right:10px;
}

#team_two > * {
	color:#edad4e;
}


.player_hud {
	margin:5px 0 5px 0;
	width:300px;
	height:55px;
	background-color:rgba(0, 0, 0, 0.2);
	color:#000;
	padding: 5px 5px 5px 5px;
}

#win_animation img {
	width:300px;
}

#ct_win, #t_win {
	position:absolute;
	left:500px;
}

#ct_win_text {
	font-size: 30px;
	background-color:#fff;
	font-weight: :bold;
	position:relative;
	top:300px;
	left:-45px;
}

#t_win_text {
	font-size: 30px;
	background-color:#fff;
	font-weight: :bold;
	position:relative;
	top:300px;
}

.hidden {
	opacity:0;
}